

    <nav class=" navbar navbar-default navbar-fixed-top">
        <div class="row container-fluid">
            <div class="col-xs-10">
                <div class="navbar-text pull-left">
                    <a href="#/profile">
                        <span class="glyphicon glyphicon-chevron-left"></span>
                    </a>
                </div>
            <div class="navbar-header pull-left">
                <a class="navbar-brand" href="#">
                    Websites
                </a>
            </div>
            </div>
            <div class="col-xs-2">
            <div class="navbar-text pull-right">
                <a href="#/user/{{WebsiteController.userId}}/website/new">
                    <span class="glyphicon glyphicon-plus"></span>
                </a>
            </div>
        </div>
        </div>

    </nav>


    <div class="container-fluid">


        <ul class="list-group">
            <li ng-repeat="website in WebsiteController.websites" class="list-group-item">
              <div>
                        <a href="../../Pages/page-list.html">
                            {{website.name}}
                        </a>

                        <a href="#/user/{{website.developerId}}/website/{{website._id}}">
                            <span class="glyphicon glyphicon-cog pull-right"></span>

                        </a>
              </div>

            </li>

        </ul>
    </div>




    <nav class=" navbar navbar-default navbar-fixed-bottom">
        <div class="row container-fluid">
            <div class="col-xs-8">
            </div>
            <div class="col-xs-4">
                <div class="navbar-text pull-right">
                    <a href="#/profile">
                        <span class="glyphicon glyphicon-user"></span>
                    </a>
                </div>
            </div>
        </div>

    </nav>

