

    <nav class=" navbar navbar-default navbar-fixed-top">

        <div class="row container-fluid">
                <div class="hidden-xs col-sm-4 col-md-4 col-lg-4">
                    <div class="navbar-text pull-left">
                        <a href="#/user/{{model.userId}}/website">
                            <span class="glyphicon glyphicon-chevron-left"></span>
                        </a>
                    </div>

                    <div class="navbar-header pull-left">
                        <a class="navbar-brand" href="">
                            Websites
                        </a>
                    </div>


                    <div class="navbar-text pull-right" >
                            <a href="#/user/{{model.userId}}/website/new">
                                <span class="glyphicon glyphicon-plus"></span>
                            </a>
                    </div>
                </div>
                <div class="col-xs-1 hidden-lg hidden-md hidden-sm">
                    <div class="navbar-text pull-left" >
                        <a href="">
                            <span class="glyphicon glyphicon-chevron-left"></span>
                        </a>
                    </div>
                </div>
                <div class="col-xs-10 col-sm-8 col-md-8">
                    <div class="navbar-header pull-left">
                        <a class="navbar-brand" href="">
                            New Website
                        </a>
                    </div>



                    <div class="navbar-text pull-right" >
                        <a ng-click="model.createWebsite(model.userId,newwebsite)">
                            <span class="glyphicon glyphicon-ok "></span>
                        </a>
                    </div>


                </div>
        </div>
    </nav>

    <div class="row container-fluid">
    <div class=" col-md-4 col-sm-4 hidden-xs vertical-line web-left-pane" >

           <ul class="list-group">
               <li ng-repeat="website in model.websites" class="list-group-item">
                       <div class="row">
                       <div class="col-sm-10 col-md-10 col-lg-10">
                           <a href="#/user/{{model.userId}}/website/{{website._id}}/page">
                              {{website.name}}
                           </a>
                       </div>
                           <div class="col-sm-2 col-md-2 col-lg-2">
                           <a href="#/user/{{model.userId}}/website/{{website._id}}">
                               <span class="glyphicon glyphicon-cog pull-right"></span>

                           </a>
                         </div>
                       </div>
               </li>

           </ul>

        </div>

<div class=" col-md-8 col-sm-8 col-xs-12 web-right-pane">

            <label for="website-name">Name</label>
            <input  ng-model="newwebsite.name"
                    type="text"
                   class="form-control"
                   id="website-name"
                   placeholder="Name"/>
            <label>Description</label>
            <textarea ng-model="newwebsite.description"
                    class="form-control" rows="6"
                   placeholder="Description "></textarea>

        </div>
    </div>

    <nav class=" navbar navbar-default navbar-fixed-bottom">
        <div class="row container-fluid">
            <div class="col-xs-8">
            </div>
            <div class="col-xs-4">
                <div class="navbar-text pull-right">
                    <a href="#/user/{{model.userId}}">
                        <span class="glyphicon glyphicon-user"></span>
                    </a>
                </div>
            </div>
        </div>

    </nav>
