input,textarea {
    margin-bottom: 5px;
}
.list-group-item{border: 0px;
    overflow-wrap: break-word}
a:hover {
    text-decoration:none;
    cursor: pointer;
}

.vertical-line{
    /* Use only border style */

    border-right: 1px inset;
    /* This is default border style for <hr> tag */
}
#page-header-pull-right{margin-right: 3%}
#page-header-pull-left{margin-left: 0%}
.web-left-pane{
    /*position: absolute;*/
    /*top:0px;*/
    /*bottom: 0px;*/
    /*margin-top: 60px;*/
    /*overflow: auto;*/


    position: absolute;
    top: 0px;
    bottom: 0px;
    margin-top: 50px;
    margin-bottom: 50px;
    padding-top: 15px;
    overflow: auto;
}
.web-right-pane{
    /*position: absolute;*/
    /*top:0px;*/
    /*bottom: 0px;*/
    /*margin-top: 60px;*/
    /*right: 0px;*/
    /*overflow-y: auto;*/

    position: absolute;
    top: 0px;
    right: 0px;
    padding-top: 15px;
    bottom: 0px;
    margin-bottom: 52px;
    margin-top: 50px;
    padding-left: 15px;
    padding-right: 15px;
    overflow-y: auto;
}
#container1{margin-top: 0%;}
.list-group-item{border: hidden;}

.glyphicon{color: white}
.glyphicon-cog{color: inherit}
.navbar-default{background-color: #337ab7  ;
}

.navbar-default .navbar-brand{color:white}
body {
    padding-top: 60px;
    padding-bottom: 55px;

}
.form-control
{height: 100%}


.youtube-widget {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    height: 0;
}


.youtube-widget iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}












.navbar-default.nav-bar-widget{background-color: white;}
#widget-brand{color:black}
.img-fluid
{   width: 100%;
    height: auto;
    z-index: 1}

.display-1{margin-top: 0%}
.wrapper{position: relative}
.glyphicon-group{
    color: black;
    background: white;
    opacity: 0.9;
    top:0%;
    right: 0%;
    position:absolute;
    z-index: 2;
    border-radius: 3px  }
.cog-widget{color: cornflowerblue}
.glyphicon.glyphicon-align-justify{color:black}
.glyphicon.widget-class{color: black}