

<nav class=" navbar navbar-default navbar-fixed-top">

    <div class="row container-fluid">
        <div class="hidden-xs col-sm-4 col-md-4 col-lg-4">
            <div class="navbar-text pull-left" >
                <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
            </div>

            <div class="navbar-header pull-left">
                <a class="navbar-brand" href="">
                    Pages
                </a>
            </div>


            <div class="navbar-text pull-right" >
                <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/new">
                    <span class="glyphicon glyphicon-plus"></span>
                </a>
            </div>
        </div>
        <div class="col-xs-1 hidden-lg hidden-md hidden-sm">
            <div class="navbar-text pull-left" >
                <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
            </div>
        </div>
        <div class="col-xs-10 col-sm-8 col-md-8">
            <div class="navbar-header pull-left">
                <a class="navbar-brand" href="#">
                    Edit Page
                </a>
            </div>



            <div class="navbar-text pull-right" id="page-header-pull-right">
                <a ng-click="model.updatePage(model.page)">
                    <span class="glyphicon glyphicon-ok "></span>
                </a>
            </div>


        </div>
    </div>
</nav>

<div class="container-fluid col-md-4 col-sm-4 hidden-xs vertical-line web-left-pane" >


    <ul class="list-group">
        <li ng-repeat="page in model.pages"class="list-group-item">
            <div>
                <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{page._id}}/widget">
                    {{page.name}}
                </a>

                <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{page._id}}">
                    <span class="glyphicon glyphicon-cog pull-right"></span>

                </a>
            </div>

        </li>


    </ul>

</div>

<div class="container-fluid col-md-8 col-sm-8 col-xs-12 web-right-pane">

    <label for="page-name">Page Name</label>
    <input ng-model="model.page.name"
            type="text"
           class="form-control"
           id="page-name"
           placeholder="Page Name" value="Blog Post"/>
    <label>Title</label>
    <input  ng-model="model.page.description"
            type="text" class="form-control"
              placeholder="Page Title "></input>

    <a ng-click="model.delete()" class="btn btn-danger btn-block">Delete</a>

</div>


<nav class=" navbar navbar-default navbar-fixed-bottom">
    <div class="row container-fluid">
        <div class="col-xs-8">
        </div>
        <div class="col-xs-4">
            <div class="navbar-text pull-right">
                <a href="#/user/{{model.userId}}">
                    <span class="glyphicon glyphicon-user"></span>
                </a>
            </div>
        </div>
    </div>

</nav>
