.list-group-item{border: 0px;
    overflow-wrap: break-word}



#widget--header-pull-left{margin-left: 3%;}
.navbar-default{    background-color: inherit;
}
.navbar-default .navbar-brand{color:inherit}




.img-fluid
{   width: 100%;
    height: auto;
    z-index: 1}

.display-1{margin-top: 0%}
.wrapper{position: relative}
.glyphicon-group{
    color: black;
    background: white;
    opacity: 0.9;
    top:0%;
    right: 0%;
    position:absolute;
    z-index: 2;
    border-radius: 3px  }

.glyphicon-widget{
    color: black;}
.glyphicon-cog{color: cornflowerblue}
.glyphicon-user{color: blue}
