
    <nav class=" navbar navbar-default navbar-fixed-top nav-bar-widget">
        <div class="row container-fluid">
            <div class="col-xs-10">
                <div class="navbar-text pull-left">
                    <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page">
                        <span class="glyphicon glyphicon-chevron-left widget-class"></span>
                    </a>
                </div>
                <div class="navbar-header pull-left">
                    <a class="navbar-brand pull-left" id="widget-brand" href="">
                        Widgets
                    </a>

                </div>
            </div>
            <div class="col-xs-2">
                <div class="navbar-text pull-right" >
                    <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget/new">
                        <span class="glyphicon glyphicon-plus widget-class"></span>
                    </a>
                </div>
            </div>


        </div>

    </nav>





    <div class="container-fluid ">


      <ul  class="list-group" wbdv-sortable="">

          <LI ng-switch="widget.type" ng-repeat="widget in model.widgets" class="list-group-item">
              <div ng-switch-when="HEADING">
                  <ng-include src="'views/widget/widget-heading-listpage.view.client.html'"></ng-include>
              </div>
              <div ng-switch-when="IMAGE">
                  <ng-include src="'views/widget/widget-image-listpage.view.client.html'"></ng-include>
              </div>
              <div ng-switch-when="YOUTUBE">
                  <ng-include src="'views/widget/widget-youtube-listpage.view.client.html'"></ng-include>
              </div>
              <div ng-switch-when="HTML">
                  <ng-include src="'views/widget/widget-html-listpage.view.client.html'"></ng-include>
              </div>
          </LI>

      </ul>


    </div>


    <nav class=" navbar navbar-default navbar-fixed-bottom nav-bar-widget">
        <div class="row container-fluid">
            <div class="col-xs-8 col-sm-8 col-lg-8">
                <div class="navbar-text">
                  <a href="#">
                        <span class="glyphicon glyphicon-play widget-class"></span>
                  </a>

                    <a href="#">
                        <span class="glyphicon glyphicon-eye-open widget-class"></span>
                    </a>
                </div>
                </div>




            <div class="col-xs-4">
                <div class="navbar-text pull-right">
                    <a href="#/user/{{model.userId}}">
                        <span class="glyphicon glyphicon-user widget-class"></span>
                    </a>
                </div>
            </div>
        </div>

    </nav>
