

<nav class=" navbar navbar-default navbar-fixed-top nav-bar-widget">
    <div class="row container-fluid">
        <div class="col-xs-10">
            <div class="navbar-text pull-left">
                <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget">
                    <span class="glyphicon glyphicon-chevron-left widget-class"></span>
                </a>
            </div>
            <div class="navbar-header pull-left">
                <a class="navbar-brand pull-left" id="widget-brand" href="">
                    Widget Edit
                </a>

            </div>
        </div>
        <div class="col-xs-2">
            <div class="navbar-text pull-right" >
                <a ng-click="model.updateWidget(model.widget)">
                    <span class="glyphicon glyphicon-ok widget-class"></span>
                </a>
            </div>
        </div>


    </div>

</nav>





<div class="container-fluid ">
    <form action="/api/upload"  method="post" enctype="multipart/form-data">
        <input  name="widgetId" value="{{model.widget._id}}"   style="display: none"/>
        <input  name="websiteId" value="{{model.websiteId}}"   style="display: none"/>
        <input  name="userId" value="{{model.userId}}"   style="display: none"/>
        <input  name="pageId" value="{{model.pageId}}"   style="display: none"/>

    <label for="widget-name">Name</label>
    <input type="text"
           class="form-control"
           id="widget-name"
           value="IMAGE"
    />
    <label>Text</label>
    <input  ng-model="model.widget.text"
            type="text"
           class="form-control"
    />
    <label>URL</label>
    <input   ng-model="model.widget.url"
            type="text"
           class="form-control"
           value="https://www.google.com/search?q=images&espv=2&biw=753&bih=970&source=lnms"
    />
    <label>Width</label>
    <input   ng-model="model.widget.width"
            type="text"
           class="form-control"
            value="100%"
    />
    <label>Upload</label>
    <input type="file"
           class="form-control"
           name="myFile"
    />
    <button type="submit" class="btn btn-primary btn-block">Upload Image</button>
    <a ng-click="model.delete()" class="btn btn-danger btn-block">Delete</a>
    </form>
</div>


<nav class=" navbar navbar-default navbar-fixed-bottom nav-bar-widget">
    <div class="row container-fluid">
        <div class="col-xs-8">
        </div>
        <div class="col-xs-4">
            <div class="navbar-text pull-right">
                <a href="#/user/{{model.userId}}">
                    <span class="glyphicon glyphicon-user widget-class"></span>
                </a>
            </div>
        </div>
    </div>

</nav>

