

<nav class=" navbar navbar-default navbar-fixed-top">
    <div class="row container-fluid">
        <div>
            <div class="navbar-text pull-left" id="widget--header-pull-left">
                <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
            </div>

            <div class="navbar-header pull-left">
                <a class="navbar-brand pull-left" href="#">
                    Choose Widget
                </a>
            </div>
        </div>

    </div>

</nav>




<div class="container-fluid" >

    <ul class="list-group">
        <li class="list-group-item">
            <a ng-click="model.createWidget('html')">
                HTML
            </a>
        </li>
        <li class="list-group-item">
            <a ng-click="model.createWidget('heading')">
                Header
            </a>
        </li>


        <li class="list-group-item">
            <a ng-click="model.createWidget('youtube')">
                YouTube
            </a>
        </li>


        <li class="list-group-item">
            <a ng-click="model.createWidget('image')">
                Image
            </a>
        </li>

    </ul>

</div>






<nav class=" navbar navbar-default navbar-fixed-bottom">
    <div class="row container-fluid">
        <div class="col-xs-8">
        </div>
        <div class="col-xs-4">
            <div class="navbar-text pull-right" style="margin-right: 5%;">
                <a href="#/user/{{model.userId}}">
                    <span class="glyphicon glyphicon-user"></span>
                </a>
            </div>
        </div>
    </div>

</nav>

