

<nav class=" navbar navbar-default navbar-fixed-top">
    <div class="row container-fluid">
        <div class="col-xs-10">
            <div class="navbar-text pull-left">
                <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
            </div>
            <div class="navbar-header pull-left">
                <a class="navbar-brand pull-left" href="#">
                    Widget Edit
                </a>

            </div>
        </div>
        <div class="col-xs-2">
            <div class="navbar-text pull-right" style="margin-left: 3%;">
                <a  ng-click="model.updateWidget(model.widget)">
                    <span class="glyphicon glyphicon-ok"></span>
                </a>
            </div>
        </div>


    </div>

</nav>





<div class="container-fluid ">

    <label for="widget-name">Name</label>
    <input type="text"
           class="form-control"
           id="widget-name"
           value="HEADING"
          />
    <label>Text</label>
    <input  ng-model="model.widget.text"
            type="text"
           class="form-control"
          value="US senate reaches Compromise on Emergency"
    />
    <label>Size</label>
    <input   ng-model="model.widget.size"
            type="text"
           class="form-control"
           value="3"
    />

    <a ng-click="model.delete()" class="btn btn-danger btn-block">Delete</a>

</div>


<nav class=" navbar navbar-default navbar-fixed-bottom">
    <div class="row container-fluid">
        <div class="col-xs-8">
        </div>
        <div class="col-xs-4">
            <div class="navbar-text pull-right" style="margin-right: 5%;">
                <a href="#/user/{{model.userId}}">
                    <span class="glyphicon glyphicon-user"></span>
                </a>
            </div>
        </div>
    </div>

</nav>


