

<nav class=" navbar navbar-default navbar-fixed-top nav-bar-widget">
    <div class="row container-fluid">
        <div class="col-xs-10">
            <div class="navbar-text pull-left">
                <a  href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget">
                    <span class="glyphicon glyphicon-chevron-left widget-class"></span>
                </a>
            </div>
            <div class="navbar-header pull-left">
                <a class="navbar-brand pull-left" id="widget-brand" href="#">
                    Widget Edit
                </a>

            </div>
        </div>
        <div class="col-xs-2">
            <div class="navbar-text pull-right">
                <a ng-click="model.updateWidget(model.widget)">
                    <span class="glyphicon glyphicon-ok widget-class"></span>
                </a>
            </div>
        </div>


    </div>

</nav>





<div class="container-fluid ">

    <label for="widget-name">Name</label>
    <input type="text"
           class="form-control"
           id="widget-name"
           value="YOUTUBE VIDEO"
    />
    <label>Text</label>
    <input type="text"
           class="form-control"
           ng-model="model.widget.text"
           />
    <label>URL</label>
    <input type="text"
           class="form-control"
           value="https://www.google.com/search?q=images&espv=2&biw=753&bih=970&source=lnms"
           ng-model="model.widget.url">
    <label>Width</label>
    <input type="text"
           class="form-control"
           ng-model="model.widget.width"

    />
    <a ng-click="model.delete()" class="btn btn-danger btn-block">Delete</a>

</div>


<nav class=" navbar navbar-default navbar-fixed-bottom nav-bar-widget">
    <div class="row container-fluid">
        <div class="col-xs-8">
        </div>
        <div class="col-xs-4">
            <div class="navbar-text pull-right">
                <a href="#/user/{{model.userId}}">
                    <span class="glyphicon glyphicon-user widget-class"></span>
                </a>
            </div>
        </div>
    </div>

</nav>

