
<nav class=" navbar navbar-default navbar-fixed-top">
    <div class="row container-fluid">
        <div class="col-xs-10">
            <div class="navbar-text pull-left">
                <a href="../views/page/page-list.view.client.html">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
            </div>
            <div class="navbar-header pull-left">
                <a class="navbar-brand pull-left" href="#">
                    Widgets
                </a>

            </div>
        </div>
        <div class="col-xs-2">
            <div class="navbar-text pull-right" >
                <a href="widget-chooser.view.client.html">
                    <span class="glyphicon glyphicon-plus"></span>
                </a>
            </div>
        </div>


    </div>

</nav>





<div class="container-fluid ">

  <ul class="list-group">
      <li class="list-group-item">
          <div class="row wrapper">


              <h1 class="display-1">GIZMODO</h1>

              <div class="glyphicon-group">
                      <a href="widget-heading.view.client.html">
                          <span class="glyphicon glyphicon-cog"></span>
                      </a>
                      <a href="#">
                          <span class="glyphicon glyphicon-align-justify"></span>
                      </a>

                  </div>


          </div>
      </li>
      <li class="list-group-item">
          <div class="row wrapper">


              <h2 class="display-1">Elephant Wildlife</h2>

              <div class="glyphicon-group">
                  <a href="widget-heading.view.client.html">
                      <span class="glyphicon glyphicon-cog"></span>
                  </a>
                  <a href="#">
                      <span class="glyphicon glyphicon-align-justify"></span>
                  </a>

              </div>


          </div>
      </li>

      <li class="list-group-item">
          <div class="row wrapper">

                  <img src="../elephant.jpg" class="img-fluid" alt="Responsive image">
                  <div class="glyphicon-group">
                          <a href="widget-image.view.client.html">
                              <span class="glyphicon glyphicon-cog"></span>
                          </a>
                        <a href="#">
                                  <span class="glyphicon glyphicon-align-justify"></span>
                      </a>

                </div>
              </div>



      </li>
      <li class="list-group-item">


          <div class="row wrapper">

              <p> Elephants are large mammals of the family Elephantidae and the order Proboscidea.
                  Two species are traditionally recognised, the African elephant (Loxodonta africana) and the Asian elephant (Elephas maximus),
                  although some evidence suggests that African bush elephants and <a href="https://en.wikipedia.org/wiki/African_forest_elephant">
                      African forest elephants </a>are separate species (L. africana and L. cyclotis respectively).
                  Elephants are scattered throughout sub-Saharan Africa, South Asia, and Southeast Asia. Elephantidae is the only surviving family of the order Proboscidea;
                  other, now extinct, members of the order include deinotheres, gomphotheres, mammoths, and mastodons.
              </p>

              <div class="glyphicon-group">
                  <a href="#">
                      <span class="glyphicon glyphicon-cog"></span>
                  </a>
                  <a href="#">
                      <span class="glyphicon glyphicon-align-justify"></span>
                  </a>

              </div>
          </div>


      </li>
      <li class="list-group-item">
          <div class="row wrapper">


              <h2 class="display-1">2016 Comedy Wildlife Photography Awards Winners</h2>

              <div class="glyphicon-group">
                  <a href="widget-heading.view.client.html">
                      <span class="glyphicon glyphicon-cog"></span>
                  </a>
                  <a href="#">
                      <span class="glyphicon glyphicon-align-justify"></span>
                  </a>

              </div>


          </div>
      </li>
      <li class="list-group-item">


          <div class="row wrapper">

              <div class="embed-responsive embed-responsive-4by3">
                  <iframe width="560" height="315" src="https://www.youtube.com/embed/qgWj7y2yRC4" frameborder="0" allowfullscreen></iframe>
              </div>

              <div class="glyphicon-group">
                  <a href="widget-youtube.view.client.html">
                      <span class="glyphicon glyphicon-cog"></span>
                  </a>
                  <a href="#">
                      <span class="glyphicon glyphicon-align-justify"></span>
                  </a>

              </div>
          </div>


      </li>

      <li class="list-group-item">


          <div class="row wrapper">

              <p>The Comedy Wildlife Photo Awards 2016 have come to an end as the winners for this year’s competition are revealed.
                  This year’s contest featured over 2,200 hilarious entries from around the world, with each of the contenders combining
                  exquisite photography skills and perfect comedy timing. The awards ceremony took place at the Underdog Gallery in London on November 9,
                  with winners collecting trophies in five separate categories and an additional 10 highly commended photographers each receiving a certificate.
              </p>

              <div class="glyphicon-group">
                  <a href="#">
                      <span class="glyphicon glyphicon-cog"></span>
                  </a>
                  <a href="#">
                      <span class="glyphicon glyphicon-align-justify"></span>
                  </a>

              </div>
          </div>


      </li>

  </ul>

</div>


<nav class=" navbar navbar-default navbar-fixed-bottom">
    <div class="row container-fluid">
        <div class="col-xs-8 col-sm-8 col-lg-8">
            <div class="navbar-text">
              <a href="#">
                    <span class="glyphicon glyphicon-play"></span>
              </a>

                <a href="#">
                    <span class="glyphicon glyphicon-eye-open"></span>
                </a>
            </div>
            </div>




        <div class="col-xs-4">
            <div class="navbar-text pull-right">
                <a href="../views/user/profile.view.client.html">
                    <span class="glyphicon glyphicon-user"></span>
                </a>
            </div>
        </div>
    </div>

</nav>
